/* 
    Document   : administratorSpaceUsage
    Created on : 20 Feb, 2012, 11:32:35 PM
    Author     : TTT
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#page {

   
    width: 260px;
    height: 400px;
    margin-left: 400px;
    margin-top: 50px;
    opacity:0.8;
    filter:alpha(opacity=40);
    border-radius: 10px 10px 10px 10px ;

}




#personalSpaceUsage {
    
    height: 200px;
    width: 260px;
    widows: 200px;
    margin: 10px;
    background-color: #87d4d3;
    border-radius: 10px 10px 10px 10px ;
}
#personalSpaceUsageValue {
    margin-left:  45px;
    padding-top: 10px;
    
}

#personalSpaceUsageGraph {
    height: 10px;
    width:250px;
  position: relative;
 top: 20px;
  left: 5px;
 
      
}

.row {
    width: 200px;
    height: 30px;
    
    
}

.data {
     width: 100px;
    height: 30px;
    position: relative;
    float: left;
}

