<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.yaid.user.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.yaid.user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileOperationHandler</servlet-name>
        <servlet-class>com.yaid.files.FileOperationHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.yaid.user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageBytes</servlet-name>
        <servlet-class>com.yaid.files.ImageBytes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPath</servlet-name>
        <servlet-class>com.yaid.ser.GetPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.yaid.files.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllUsers</servlet-name>
        <servlet-class>com.yaid.administrator.ViewAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadTextFile</servlet-name>
        <servlet-class>com.yaid.readtxt.ReadTextFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.yaid.readtxt.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>com.yaid.files.DownloadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileOperationHandler</servlet-name>
        <url-pattern>/FileOperationHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageBytes</servlet-name>
        <url-pattern>/ImageBytes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPath</servlet-name>
        <url-pattern>/GetPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllUsers</servlet-name>
        <url-pattern>/ViewAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadTextFile</servlet-name>
        <url-pattern>/ReadTextFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
