/* 
    Document   : administratorViewUsers
    Created on : 17 Feb, 2012, 11:59:16 PM
    Author     : TTT
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
    background-image: url('../../images/administrator/ball1.jpg'); 


}
#viewUsersLeft {
    float: left;
    height: 600px;

}
#viewList {
    float: left;
    height: 450px;
    background-color: #fdfefc;

    opacity:0.4;
    filter:alpha(opacity=40);


}

#headings {
    padding: 20px;
}

#headingSerial {
    width: 100px;
    position: relative;
    float: left;
}

#headingEmail {
    width: 300px;
    position: relative;
    float: left;
}
#headingPassword {
    width: 200px;
    position: relative;
    float: left;
}

#usersdetails {
    position: relative;
    height: 20px;
    padding: 20px;


}

#userSerial { 
    width: 100px;
    position: relative;
    float: left;
}

#userEmail { 
    width: 300px;
    position: relative;
    float: left;
}

#userPassword { 
    width: 200px;
    position: relative;
    float: left;
}

#pageNavigation {
    left: 150px;
    position: absolute;
    padding: 20px;
    bottom: 50px;
    height: 20px;
    background-color:#f4b925;
    opacity:0.9;
    filter:alpha(opacity=40);

}

#verticalSeperator {
    position: relative;
    float: left;
    background: #999999;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    width:2px;
    height: 550px;
}

#banUser {

    position: relative;
    vertical-align: middle;
    float: left;
    height: 600px;

}

#allDetails {
    position: relative;
    vertical-align: middle;
    height: 200px;
    width: 500px;

    background-color: #9999ff;
    opacity:0.8;
    filter:alpha(opacity=40);
}

#horizontalSeperator {
    position: relative;
    background: #999999;
    background-repeat: repeat-x;
    bottom: 0px;
    height: 2px;
    top: 550px;
}