/* 
    Document   : administratorViewUsers
    Created on : 17 Feb, 2012, 11:59:16 PM
    Author     : TTT
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#viewUsersLeft {
    float: left;
    height: 600px;
}
#viewList {
    float: left;
 height: 500px;
 background-color: #006666;
    
}

#headings {
    padding: 20px;
}

#headingSerial {
    width: 100px;
    position: relative;
    float: left;
}

#headingEmail {
    width: 300px;
    position: relative;
    float: left;
}
#headingPassword {
    width: 200px;
    position: relative;
    float: left;
}

#usersdetails {
    position: relative;
    height: 20px;
    padding: 20px;


}

#userSerial { 
    width: 100px;
    position: relative;
    float: left;
}

#userEmail { 
    width: 300px;
    position: relative;
    float: left;
}

#userPassword { 
    width: 200px;
    position: relative;
    float: left;
}

#pageNavigation {
    position: relative;
    padding: 20px;
    bottom: 0px;
    height: 50px;
  
}

#verticalSeperator {
    position: relative;
    float: left;
    background: #999999;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    width:2px;
    height: 550px;
}

#banUser {

    position: relative;
    vertical-align: middle;
    float: left;
    height: 600px;
    
}

#allDetails {
    position: relative;
    vertical-align: middle;
    height: 550px;
    width: 500px;
 
    background-color: #9999ff;
}

#horizontalSeperator {
    position: relative;
    background: #999999;
    background-repeat: repeat-x;
    bottom: 0px;
    height: 2px;
    top: 550px;
}