@CHARSET "ISO-8859-1";
#tabs {

	border-bottom: .5em solid #0033CC;

	margin: 0;

	padding: 0;

}

#tabs li { 

	display:inline; 

	border-top: .1em solid #03c;

	border-left: .1em solid #03c;

	border-right: .1em solid #03c;

}

#tabs li a {

	text-decoration: none;

	padding: 0.25em 1em;

	color: #000;

}

#page1 #tabs li#tab1 a, #page2 #tabs li#tab2 a, #page3 #tabs li#tab3 a, #page4 #tabs li#tab4 a {

	padding: 0.25em 1em;

	background-color: #03c;

	color: #fff;

}

.edit_avail{
	visibility: visible;
}

.edit_not_avail{
	visibility: hidden;
}


#logout {
     float: right;
     color: #0033ff;
     
}
#logout {
    float: right;
    
}