#IconView { position: absolute;list-style-type: none; margin: 0; padding: 0; left: 12px; top: 12px; }
#IconView li { margin: 5px 5px 5px 0; padding: 1px; width: 150px; height: 125px; font-size: 13px; text-align: center; color: black; }
#IconView img {height: 100px; width: 100px;}